* {
  box-sizing: border-box; }

body {
  padding: 2em;
  background-color: #e0e0e0;
  font-family: "Open Sans", sans-serif;
  color: #afafaf;
  display: grid;
  font-size: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  margin: 0; }
  @media screen and (min-width: 40em) {
    body {
      margin: 0;
      padding: 0 5% 0 5%;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr; } }

.profile {
  height: 100%;
  background: #f4f4f4;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 1em 1em 1em 1em;
  box-shadow: 10px 4px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  grid-row: 1;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr; }
  .profile .corners {
    padding: 1em;
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .profile .corners .notify {
      grid-column: 1;
      grid-row: 1; }
    .profile .corners .nav {
      grid-column: 2;
      grid-row: 1;
      justify-self: end; }
  .profile .profileinfo {
    display: none; }
  .profile .calday {
    justify-self: start;
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .profile .calday .flame {
      grid-row: 1 / span 2;
      grid-column: 1;
      justify-self: end; }
    .profile .calday .calnumber {
      padding: 2rem 0 0 0;
      grid-row: 1;
      grid-column: 2;
      justify-self: start; }
    .profile .calday .textbtw {
      font-size: 1.5rem;
      margin: 0;
      grid-row: 2;
      grid-column: 2;
      justify-self: start;
      margin-top: -10px; }
  .profile .Emily {
    display: none; }
  .profile .Matthew {
    display: none; }
  .profile .Messo {
    display: none; }

.settings {
  display: none; }

.moprofileinfo {
  background: #f4f4f4;
  margin: 0 0 16px 0;
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 2em 3em 1em 3em;
  box-shadow: 10px 4px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  grid-row: 4;
  grid-column: 2; }

.mosettings {
  display: block;
  grid-row: 4;
  grid-column: 1;
  padding: 1rem;
  align-self: end;
  justify-self: start; }

@media screen and (min-width: 40em) {
  .profilepad {
    padding: 2rem 0 0 0;
    margin: 0; }

  .profile {
    height: 100%;
    background: #f4f4f4;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 10px 4px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 1fr 2fr .5fr;
    grid-template-rows: 30px 250px 300px repeat(3, 1fr); }
    .profile .corners {
      padding: 10px;
      grid-row: 1;
      grid-column: 1 / span 4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; }
      .profile .corners .notify {
        grid-column: 1;
        grid-row: 1; }
      .profile .corners .nav {
        grid-column: 2;
        grid-row: 1;
        justify-self: end; }
    .profile .profileinfo {
      margin: 30px 0 30px 0;
      grid-row: 2;
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px repeat(2, 20px);
      grid-gap: 0; }
      .profile .profileinfo .pic {
        grid-column: 1;
        grid-row: 1;
        justify-self: center; }
      .profile .profileinfo .steve {
        margin: 0;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: start; }
      .profile .profileinfo .work-type {
        font-size: 16px;
        grid-column: 1;
        grid-row: 3;
        justify-self: center; }
    .profile .calday {
      grid-row: 3;
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100px repeat(2, 1fr); }
      .profile .calday .flame {
        justify-self: center;
        margin: 0 0 0 0;
        grid-column: 1;
        grid-row: 1; }
      .profile .calday .calnumber {
        grid-column: 1;
        grid-row: 2;
        justify-self: center; }
      .profile .calday .textbtw {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        font-size: 1.4rem; }
    .profile .Emily {
      grid-row: 4;
      grid-column: 2 / span 3;
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 30px auto;
      margin: -1rem 0 0 0;
      padding: 0 0 0 1em; }
      .profile .Emily .purple {
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center; }
      .profile .Emily .Em {
        grid-column: 2;
        grid-row: 1; }
      .profile .Emily .emnum {
        grid-column: 2;
        grid-row: 2;
        margin: 0; }
    .profile .Matthew {
      grid-row: 5;
      grid-column: 2 / span 3;
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 30px auto;
      margin: -1rem 0 0 0;
      padding: 0 0 0 1em; }
      .profile .Matthew .green {
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center; }
      .profile .Matthew .Matt {
        grid-column: 2;
        grid-row: 1; }
      .profile .Matthew .mattnum {
        grid-column: 2;
        grid-row: 2;
        margin: 0; }
    .profile .Messo {
      grid-row: 6;
      grid-column: 2 / span 3;
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-rows: 30px auto;
      margin: -1rem 0 0 0;
      padding: 0 0 0 1em; }
      .profile .Messo .orange {
        grid-row: 1 / span 2;
        grid-column: 1;
        justify-self: center; }
      .profile .Messo .Rache {
        grid-column: 2;
        grid-row: 1; }
      .profile .Messo .rachenum {
        grid-column: 2;
        grid-row: 2;
        margin: 0; }

  .settings {
    display: block;
    margin: .75rem 0 0 0;
    padding: 0 0 0 10px;
    grid-column: 1;
    grid-row: 6;
    align-self: start; }

  .moprofileinfo {
    display: none; }

  .mogear {
    display: none; } }
.mosettings {
  display: none; }

main {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem; }

@media screen and (min-width: 40em) {
  main {
    height: 100%;
    grid-gap: 1rem;
    padding: 2rem;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    margin: 0; } }
.workouts {
  grid-column: 1 span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
  padding: 0; }

.present, .soon {
  padding: 0 0 0 5em;
  list-style: none; }

.Last {
  padding: 0 0 0 9em;
  list-style: none; }

.today {
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 2;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2); }

.yesterday {
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 40em) {
  .workouts {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: .75fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    align-items: center; } }
.tracker {
  padding: 2em;
  margin: 0;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2em; }
  .tracker .timer {
    display: none; }
  .tracker .max {
    Font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 100;
    padding: 0 3rem 1rem 1rem;
    background: #f4f4f4;
    border-radius: 1rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    margin: 0; }

@media screen and (min-width: 40em) {
  .tracker {
    padding: 0;
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    align-items: center; }
    .tracker .timer {
      padding: 1em;
      display: block;
      margin: 0;
      background: #f4f4f4;
      grid-column: 1;
      grid-row: 1;
      border-radius: 1rem;
      box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr; }
    .tracker .max {
      padding: 0;
      margin: 0;
      background: #f4f4f4;
      grid-column: 2;
      grid-row: 1;
      border-radius: 1rem;
      box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr; } }
.graph {
  display: none; }

@media screen and (min-width: 40em) {
  .graph {
    padding: 1rem;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background: #f4f4f4;
    grid-column: 1 / span 3;
    grid-row: 3;
    border-radius: 1rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2); }

  .grapher {
    grid-column: 2;
    grid-row: 2; }

  .gra {
    grid-row: 2;
    grid-column: 1; }

  .week {
    margin: 0;
    grid-column: 1;
    grid-row: 1; }

  .line {
    list-style: none;
    margin: 0;
    padding: 0; }
    .line .scatter {
      grid-row: 1;
      grid-column: 2; }
    .line .prograph {
      color: #FBB03B;
      grid-row: 1;
      grid-column: 2;
      font-size: 2rem; }
      .line .prograph .yours {
        font-weight: 800;
        justify-self: end;
        grid-row: 2;
        grid-column: 2; }
      .line .prograph .avg {
        font-weight: 100;
        justify-self: end;
        grid-row: 2;
        grid-column: 2; }
    .line .graphgoal {
      margin: 0;
      font-weight: 800;
      font-size: 2rem;
      justify-self: end;
      grid-row: 1;
      grid-column: 2; } }
.mogear, .gear, .notify, .nav {
  width: 20px;
  height: auto; }

.mopic, .pic {
  width: 90px;
  height: auto; }

.mopic, .pic {
  width: 90px;
  height: auto; }

.steve {
  font-size: 16px;
  font-weight: 100; }

.mosteve {
  margin-top: -10px;
  line-height: 1em;
  font-size: 3rem;
  font-weight: 100; }

.mowork-type {
  margin-top: -30px;
  font-size: 1rem;
  font-weight: 800; }

.work-type {
  font-size: 12px;
  font-weight: 800; }

.flame {
  width: 130px; }

.calnumber {
  color: #F8A3A3;
  padding: 0;
  font-size: 2rem;
  font-weight: 400; }

.calorie {
  color: #AFAFAF;
  padding: 0;
  font-size: 1rem;
  margin: 0;
  font-weight: 100; }

.purple, .green, .orange {
  padding: 0;
  margin: 0;
  max-width: 50px;
  width: 100%;
  height: auto; }

.cal {
  color: #AFAFAF;
  padding: 0;
  font-size: 12px;
  font-weight: 100; }

.Em, .Matt, .rache {
  font-size: 1rem;
  font-weight: 400; }

.emnum {
  font-weight: 700;
  color: #E4A3F8; }

.mattnum {
  font-weight: 700;
  color: #A3F8A3; }

.rachenum {
  font-weight: 700;
  color: #F8D4A3; }

.yesterday {
  padding: 1rem;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 2;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 40em) {
  .yesterday {
    margin: 0;
    background: #f4f4f4;
    grid-column: 1;
    grid-row: 1;
    border-radius: 1rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr; }
    .yesterday .Last {
      padding: 2rem 1rem 0 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto); }
      .yesterday .Last .picrun {
        grid-row: 1 / span 2;
        grid-column: 2;
        align-self: center;
        justify-self: center;
        margin: 3px 0 0 0; }
      .yesterday .Last .far {
        grid-row: 1;
        grid-column: 1; }
      .yesterday .Last .feels {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        justify-self: center; } }
.fast {
  grid-row: 1;
  grid-column: 1;
  margin: 0; }

.lastrec {
  Font-size: 1.25rem;
  font-weight: 100; }

.lbs {
  padding: 12px;
  Font-size: 4rem;
  font-weight: 800;
  color: #F8A3A3; }

.df {
  padding: 0 0 0 2.5em;
  Font-size: 1.5rem;
  font-weight: 800;
  color: #F8A3A3; }

.berl {
  padding: 0;
  max-width: 275px;
  width: 100%; }

p {
  margin: 0; }

.bignum {
  margin: 0;
  padding: 0;
  font-weight: 800;
  Font-size: 4rem;
  color: #F8A3A3; }

.dots {
  margin: -20px 0 0 0;
  padding: 0;
  max-width: 500px;
  width: 100%;
  height: auto; }

.watch {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 120px;
  height: auto; }

.runner {
  grid-row: 1;
  grid-column: 1;
  padding: 0 0 0 .5em;
  width: 200px;
  margin: -1em 0 0 0; }
  @media screen and (min-width: 40em) {
    .runner {
      padding: 0;
      margin: 0;
      max-width: 85px;
      width: 100%;
      height: auto; } }

.biker {
  margin: 0;
  padding: 0;
  max-width: 175px;
  width: 100%;
  height: auto; }

.jumper {
  grid-row: 2;
  grid-column: 1;
  padding: 0 0 0 .5em;
  max-width: 220px;
  width: 100%;
  height: auto;
  margin: -1em 0 0 0; }
  @media screen and (min-width: 40em) {
    .jumper {
      margin: 0;
      padding: 0;
      max-width: 205px;
      width: 100%;
      height: auto; } }

.longfif {
  Font-size: 1.5rem;
  font-weight: 700;
  color: #FBB03B; }

.five {
  Font-size: 1.5rem;
  font-weight: 700;
  color: #FBB03B; }

.goal {
  Font-size: 2rem;
  font-weight: 700;
  color: #FBB03B; }

.runcap, .wordup, .goalnum {
  line-height: .5em;
  margin: 0;
  Font-size: 2rem;
  font-weight: 100;
  color: #FBB03B; }

.sevenhun, .fourhun {
  margin: 0;
  Font-size: 1.5rem;
  font-weight: 600;
  color: #AFAFAF; }

.burn, .train {
  Font-size: 1.5rem;
  font-weight: 400;
  color: #AFAFAF; }

.dur {
  justify-self: center;
  Font-size: 1.5rem;
  font-weight: 100; }
  @media screen and (min-width: 40em) {
    .dur {
      Font-size: 1.25rem;
      font-weight: 100;
      color: #AFAFAF; } }

.hit {
  line-height: .75em;
  Font-size: 3rem; }
  @media screen and (min-width: 40em) {
    .hit {
      line-height: .5em;
      padding: .2em 0;
      margin: 0;
      Font-size: 4rem;
      font-weight: 800;
      color: #AFAFAF; } }

.feel, .sweat {
  line-height: 1.65rem; }

.tryit, .lasttitle, .future, .fast, .maxout, .week {
  justify-self: center;
  Font-size: 1.5rem; }
  @media screen and (min-width: 40em) {
    .tryit, .lasttitle, .future, .fast, .maxout, .week {
      justify-self: start; } }

.sweat, .long, .feel, .far {
  justify-self: end; }

.today {
  padding: 1rem;
  list-style: none;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  .today .present {
    margin: 0;
    padding: 0;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1 fr;
    justify-items: center; }

@media screen and (min-width: 40em) {
  .today {
    padding: .5rem;
    margin: 0;
    background: #f4f4f4;
    grid-column: 2;
    grid-row: 1;
    border-radius: 1rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr; }

  .present {
    padding: 2rem 1rem 0 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); }
    .present .rope {
      grid-row: 1 / span 2;
      grid-column: 2;
      align-self: center;
      justify-self: start; }

  .mark {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: center; }

  .hiit {
    grid-row: 2;
    grid-column: 1;
    align-self: start;
    justify-self: center; } }
.tomorrow {
  padding: 1rem;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 3;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2); }

@media screen and (min-width: 40em) {
  .tomorrow {
    margin: 0;
    background: #f4f4f4;
    grid-column: 3;
    grid-row: 1;
    border-radius: 1rem;
    box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr; }
    .tomorrow .soon {
      padding: 2rem 1rem 0 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto); }
      .tomorrow .soon .bike {
        grid-row: 1 / span 2;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        margin: 3px 0 0 0; }
      .tomorrow .soon .long {
        grid-row: 1;
        grid-column: 1; }
      .tomorrow .soon .sweat {
        grid-row: 2;
        grid-column: 1; } }
.timelist {
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto); }

.bignum {
  grid-row: 1 / span 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  list-style: none;
  padding: 0; }

.hrs {
  justify-self: center;
  align-self: end;
  grid-row: 1; }

.mins {
  margin: -.5em 0 0 0;
  justify-self: center;
  align-self: start;
  grid-row: 2; }

.clock {
  align-self: start;
  grid-row: 1 / span 2;
  grid-column: 2; }

.maxout {
  padding: 1rem;
  margin: 0;
  grid-row: 1;
  grid-columns: 1; }

.weight {
  margin-top: -.5rem;
  margin: 0; }
  .weight .lastrec {
    grid-row: 1;
    grid-column: 1; }
  .weight .stuff {
    margin: 0;
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    list-style: none;
    margin: -20px 0 0 0; }
    @media screen and (min-width: 40em) {
      .weight .stuff {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row: 2;
        grid-column: 1;
        padding: 0;
        list-style: none;
        margin: -40px 0 0 0; } }
    .weight .stuff .fourthir {
      justify-self: center;
      grid-row: 1;
      grid-column: 1 / span 2;
      font-size: 1rem; }
    .weight .stuff .deadlift {
      grid-column: 1;
      grid-row: 2;
      font-size: 1rem;
      align-self: center; }
    .weight .stuff .bell {
      line-height: 0;
      grid-row: 3;
      grid-column: 1;
      justify-self: center; }

/*# sourceMappingURL=main.css.map */
