
.dashboard {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
 
}



.search{
display:none;
}

.button{
display:none;
}

.title{
  padding: 0 0 0 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 1;
}



@media screen and ( min-width: 40em){// tablet //desktop 

.dashboard {
  grid-column: 2 / span 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
 
}



.search{
  padding: 2.5rem 0 5rem 15rem;
  grid-row: 1;
  grid-column: 3;
  font-size: .75em;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);

}

.button{
  grid-row: 1;
  grid-column: 1 / span 3;
  display:grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
  background: #ffffff;
  border-radius: 3rem;
  padding: 0 24px 0 24px;
  margin:0;
}

.look{
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  font-weight: $semi;

}

.mag{
  width: 30px;
  height: auto;
  grid-row: 1;
  grid-column: 3;
  align-self:center;
  justify-self: end;
  margin: 0 24px 0 0;
}


.title{
  padding: 0 0 0 1rem;
  color: #ffffff;
  font-size: 1.8rem;
  grid-column: 1 / span 2;
  grid-row: 1;
}

}
