.tomorrow {
padding:1rem;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 3;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

//Mobile


 @media screen and ( min-width: 40em)// tablet //desktop 
{.tomorrow {
  margin:0 ;
  background: #f4f4f4;
  grid-column: 3;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
    display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

.soon {
 padding: 2rem 1rem .5rem 0;
  margin: 0;
  list-style: none;  
  display: grid; 
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);

  .bike{
    grid-row: 1 / span 2;
    grid-column: 2; 
    justify-self:center;
    align-self:center;
    margin: 3px 0 0 0;

  }

  .long{
    grid-row: 1;
    grid-column: 1; 
   
  }  

    .sweat{
      grid-row: 2;
      grid-column: 1; 
    

  }


}

}
}


