
.graph{
	display:none;
}


 @media screen and ( min-width: 40em)// tablet //desktop 
{

.graph {
  align-items:center;
  padding:1rem;
  margin:0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto ;
  grid-gap:10px;
  background: #f4f4f4;
  grid-column: 1 / span 3;
  grid-row: 3;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.grapher{
	grid-column:2;
	grid-row:2;
}

.gra{
	grid-row:2;
	grid-column:1;
}
.week{
	margin:0;
	grid-column:1;
	grid-row:1;
}

.line{
	list-style: none;
	margin:0;
	padding:0;
	.scatter{
		grid-row:1;
		grid-column:2;
	}
	.prograph{
		color: #FBB03B;
		grid-row:1;
		grid-column: 2;
		font-size: 2rem;


	.yours{
    	font-weight:$fat;
		justify-self:end;
		grid-row:2;
		grid-column: 2;}
	.avg{

		font-weight:$skinny;
		justify-self:end;
		grid-row:2;
		grid-column: 2;}
	
	}
		.graphgoal{
		margin:0;
		font-weight:$fat;
		font-size: 2rem;
		justify-self:end;
		grid-row:1;
		grid-column: 2;}

}

}