.yesterday {
padding: 1rem;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 2;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
}
//Mobile


 @media screen and ( min-width: 40em)// tablet //desktop 
{
.yesterday {
 margin:0 ;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
.Last {
  padding: 2rem 1rem 0 0;
  margin: 0;
  list-style: none;  
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);

  .picrun{
    grid-row: 1 / span 2;
    grid-column: 2; 
    align-self:center;
    justify-self:center;
    margin: 3px 0 0 0;

  }  

 .far{
    grid-row: 1;
    grid-column: 1; 

  }
    .feels{
      grid-row: 2;
      grid-column: 1; 
      align-self:center;
      justify-self:center;

  }


}

}
}


