main {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
}

 @media screen and ( min-width: 40em)// tablet //desktop 
{

main {
    height:100%;
  grid-gap:1rem;
  padding:2rem;
  grid-column: 2;
  grid-row: 1 ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  margin:0;
}
}