.mogear, .gear, .notify, .nav{
	width: 20px;
	height: auto;
}

.mopic, .pic {
  width: 90px;
  height: auto;
}

.mopic, .pic {
  width: 90px;
  height: auto;
}

.steve{
	font-size: 16px;
	font-weight: $skinny;
}

.mosteve,{
	margin-top:-10px;
	line-height: 1em;
	font-size: 3rem;
	font-weight: $skinny;
}

 .mowork-type, {
 	margin-top:-30px;
	font-size: 1rem;
	font-weight: $fat;
}

.work-type{
	font-size: 12px;
	font-weight: $fat;
}

.flame{

  width: 140px;
  height: auto;
}

.calnumber {
	margin:-20px 0 0 0;
	color: #F8A3A3;
	padding: 0;
	font-size: 3rem;
	font-weight: $regular;
}

.calorie {
	color: #AFAFAF;
	padding: 0;
	font-size: 2rem;
	font-weight: $skinny;
}

.purple, .green, .orange{
	padding:0;
	margin:0;
	width: 70px;
	height:auto;

}

.cal{
	color: #AFAFAF;
	padding: 0;
	font-size: 14px;
	font-weight: $skinny;
}

.Em, .Matt, .rache{
	font-size: 1rem;
	font-weight:$regular;
}

.emnum{
	font-weight: $bold;
	color: #E4A3F8;
}

.mattnum{
	font-weight: $bold;
	color: #A3F8A3;
}
.rachenum{
	font-weight: $bold;
	color: #F8D4A3;
}



