

.tracker{
  padding:2em;
  margin:0;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto ;
  grid-gap:2em;
   .timer {
 display:none;
}
  
 .max {
  Font-size:1.25rem;
    line-height:1.2em;
    font-weight: $skinny;
   padding: 0 3rem 1rem 1rem;
  background: #f4f4f4;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  margin:0;
} 

}

@media screen and ( min-width: 40em)// tablet //desktop 
{
.tracker{
        padding: 0;
        grid-column: 1 / span 3;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin:0;
        align-items:center;

  
  .timer {
  padding:1em;
  display:block;
  margin:0 ;
  background: #f4f4f4;
  grid-column: 1;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

}
  
 .max {
padding:0;
 margin:0 ;
  background: #f4f4f4;
  grid-column: 2;
  grid-row: 1;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.2);
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

} 


  
}
}
