.timelist{  
  margin: 0;
  list-style: none;  
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);}

	.bignum{
	grid-row: 1 / span 2;
	grid-column: 1;	
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2, auto);
	list-style: none;
	padding:0;


}


		  .hrs{
			justify-self:center;
			align-self:end;
			grid-row:1;
		}
		.mins{
			margin:-.5em 0 0 0;
			justify-self:center;
			align-self:start;
			grid-row:2;
		}
	 

	.clock{
	align-self:start;
	grid-row:1 / span 2;
	grid-column: 2;

	}

